@{
    ViewBag.Title = "InfoPage";
}
<head>
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
</head>

<h2>InfoPage</h2>
<p>
    Hello! This is your inventory system for all of the incredibly important papers and
    
    records that we are now keeping in barrels! I hope you know that these barrels are
    
    all entirely sound and strong...
    
    On this page you are able to add a record for every new barrel in our warehouses.
   
    Then you can also edit or delete that barrel whenever it is removed.
    
    Thank you for using our service!
</p>
<p>
    -Creepy robot voice
</p>