
@{
    ViewBag.Title = "InfoPage";
}

<h2>InfoPage</h2>
<p>
    Hello! This is your inventory system for all of the incredibly important papers and
    <br />
    records that we are now keeping in barrels! I hope you know that these barrels are
    <br />
    all entirely sound and strong...
    <br />
    On this page you are able to add a record for every new barrel in our warehouses.
    <br />
    Then you can also edit or delete that barrel whenever it is removed.
    <br />
    Thank you for using our service!
</p>
<p>
    -Creepy robot voice
</p>