body {
    background-image: url(USA.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: left bottom;
}

p{
    color:#8B92B3;
    text-align:center;
    font-family:Arial;
    letter-spacing:2px;
}

h3{
    color:#8B92B3;
    text-align:center;
    font-family:Arial;
}

h4{
    color: #8B92B3;
    text-align:center;
    font-family: Arial;
}

h2 {
    color: #0c595a;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial;
    letter-spacing: 5px;
    line-height: 30px;
    font-size: 35px;
    text-size-adjust: 5000%;
    outline-color:aquamarine
}

td{
    color: #8B92B3;
    text-align: center;
    font-family: Arial;
}

dt {
    color: #8B92B3;
    text-align: right;
    font-family: Arial;
}